In [1]:
# import the libraries 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# Read the csv file 
df = pd.read_csv("airbnb_listing_train.csv")

In [3]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12896,20757739,Quiet stylish private room 15 mins to city ce...,63932037,Michelle,NaN,De Baarsjes - Oud-West,52.37194,4.84965,Entire home/apt,1,1,13-09-2017,0.03,1,88,65
12897,1055570,"Beautiful, spacious apt. with great views @ IJ...",5813322,Rens,NaN,IJburg - Zeeburgereiland,52.36263,4.98031,Entire home/apt,7,238,25-02-2020,2.75,1,357,160
12898,13178435,Great apartment de Pijp/Albert Cuyp,46370427,Francien,NaN,De Pijp - Rivierenbuurt,52.35719,4.90009,Entire home/apt,3,15,07-10-2018,0.31,1,0,180
12899,21963760,Stylish apartment in an amazing location,4895882,Olaf,NaN,Zuid,52.34855,4.85105,Entire home/apt,2,11,28-04-2019,0.37,1,0,136
12900,33726315,Amsterdam Apartments First Floor,203460948,City,NaN,Centrum-Oost,52.35865,4.89795,Hotel room,5,1,17-02-2020,0.26,11,365,337

In [4]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'price'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   name                            12879 non-null  object
 2   host_id                         12901 non-null  int64
 3   host_name                       12893 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12901 non-null  object
 6   latitude                        12901 non-null  float64
 7   longitude                       12901 non-null  float64
 8   room_type                       12901 non-null  object
 9   minimum_nights                  12901 non-null  int64
 10  number_of_reviews               12901 non-null  int64
 11  last_review                     11305 non-null  object
 12  reviews_per_month               11305 non-null  float64
 13  calculated_host_listings_count  12901 non-null  int64
 14  availability_365                12901 non-null  int64
 15  price                           12901 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90

In [7]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
count,1.290100e+04,1.290100e+04,0.0,12901.000000,12901.000000,12901.000000,12901.000000,11305.000000,12901.000000,12901.000000,12901.000000
mean,1.984923e+07,6.321700e+07,NaN,52.365313,4.889744,3.542516,24.803194,0.748501,2.136501,61.392295,166.959538
std,1.216241e+07,8.010814e+07,NaN,0.016418,0.036016,15.154077,53.406134,1.260791,6.001838,107.988329,234.794630
min,2.016800e+04,3.592000e+03,NaN,52.289270,4.755720,1.000000,0.000000,0.010000,1.000000,0.000000,6.000000
25%,9.869642e+06,8.948269e+06,NaN,52.355190,4.863950,2.000000,2.000000,0.180000,1.000000,0.000000,99.000000
50%,1.874939e+07,2.711601e+07,NaN,52.364570,4.887130,2.000000,9.000000,0.380000,1.000000,0.000000,135.000000
75%,2.914232e+07,8.337686e+07,NaN,52.375110,4.909310,3.000000,24.000000,0.770000,1.000000,87.000000,190.000000
max,4.370900e+07,3.490175e+08,NaN,52.425090,5.018400,1001.000000,843.000000,50.000000,78.000000,365.000000,9000.000000

In [8]:
df.isnull().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [9]:
df.drop(['name','host_name','neighbourhood_group','last_review','reviews_per_month'], axis=1, inplace =True)

In [11]:
#convert to category dtype
df['neighbourhood'] = df['neighbourhood'].astype('category')

In [13]:
#use .cat.codes to create new colums with encoded value
df['neighbourhood'] = df['neighbourhood'].cat.codes

In [14]:
df

,id,host_id,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price
0,11602914,3123809,8,52.35368,4.90177,Entire home/apt,3,13,1,0,220
1,13289321,10259430,17,52.35728,4.92052,Entire home/apt,4,14,1,0,110
2,40779315,224969266,5,52.37582,4.89850,Entire home/apt,2,9,1,7,100
3,7820311,693472,20,52.37792,4.87300,Entire home/apt,3,42,1,0,130
4,27346603,41888346,20,52.38051,4.87493,Private room,2,89,1,24,90
...,...,...,...,...,...,...,...,...,...,...,...
12896,20757739,63932037,7,52.37194,4.84965,Entire home/apt,1,1,1,88,65
12897,1055570,5813322,11,52.36263,4.98031,Entire home/apt,7,238,1,357,160
12898,13178435,46370427,8,52.35719,4.90009,Entire home/apt,3,15,1,0,180
12899,21963760,4895882,21,52.34855,4.85105,Entire home/apt,2,11,1,0,136
12900,33726315,203460948,4,52.35865,4.89795,Hotel room,5,1,11,365,337

In [15]:
df['neighbourhood'].value_counts()

7     2209
8     1600
5     1429
4     1097
20     958
21     924
17     831
2      730
14     644
19     381
16     376
11     321
18     269
13     257
12     171
3      155
10     144
6       88
15      83
9       80
0       78
1       76
Name: neighbourhood, dtype: int64

In [16]:
#convert categorical variable into dummy/indicator variables for ML
df = pd.get_dummies(df, columns=['room_type'])

In [17]:
#Convert longitude and latitude into cartesian coordinates. Assume the earth as sphere not ellipsoid
R = 6371000 #Approximate mean radius of earth (in m)

lon,lat = map(np.radians, [df['longitude'], df['latitude']])

# 'Single-point' Haversine formula
a = np.sin(lat/2)**2 + np.cos(lat) * np.sin(lon/2)**2
distance = 2 * R * np.arcsin(np.sqrt(a))

#creating new column distance and dropping longitude and latitude column
df['distance'] = distance
df.drop(['latitude', 'longitude'], axis = 1, inplace = True)

In [18]:
df.columns

Index(['id', 'host_id', 'neighbourhood', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365', 'price',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'distance'],
      dtype='object')

In [19]:
df.dtypes

id                                  int64
host_id                             int64
neighbourhood                        int8
minimum_nights                      int64
number_of_reviews                   int64
calculated_host_listings_count      int64
availability_365                    int64
price                               int64
room_type_Entire home/apt           uint8
room_type_Hotel room                uint8
room_type_Private room              uint8
room_type_Shared room               uint8
distance                          float64
dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   host_id                         12901 non-null  int64
 2   neighbourhood                   12901 non-null  int8
 3   minimum_nights                  12901 non-null  int64
 4   number_of_reviews               12901 non-null  int64
 5   calculated_host_listings_count  12901 non-null  int64
 6   availability_365                12901 non-null  int64
 7   price                           12901 non-null  int64
 8   room_type_Entire home/apt       12901 non-null  uint8
 9   room_type_Hotel room            12901 non-null  uint8
 10  room_type_Private room          12901 non-null  uint8
 11  room_type_Shared room           12901 non-null  uint8
 12  distance                        12901 non-null  float64
dtypes: float64(1), int64(7), int8(1), uint8(4)
memory usage: 869.4 KB

In [21]:
X = df.drop('price', axis = 1)
y = df['price']

In [22]:
# Split the data into 80% training  and 20% testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=5)

In [24]:
# Use random forest classifier 
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 10, criterion='entropy',random_state =0)
forest.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [26]:
# Get the accuracy on the training data set
forest.score(X_train,y_train)

0.9927325581395349

In [29]:
# Importing Models
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.022157139663751213